body {
  font-size: 1em;
  color: #252525;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: 0.1em solid #707070;
  font-size: 1.3em;
}

h2 {
  border-bottom: 0.07em solid #707070;
  font-size: 1.2em;
}

h3 {
  border-bottom: 0.05em solid #707070;
  font-size: 1.0em;
}

h4 {
  font-size: 0.9em;
}

h5 {
font-size: 0.9em;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  font-size: 0.9em;
  color: black;
  background-color: #e8e8e8;
  border: solid;
  border-color: lightgray;
  border-width: 0.1px;
  border-radius: 3px;
}

content code {
  color: black;
  font-family: Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

.wy-nav-content {
  max-width: 1200px;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

footer p {
  color:#606060;
  font-size: 0.8rem;
}

p {
  margin-bottom: 0.7em;
}

p.caption {
  background-color: #f4f4f4;
  font-size: 0.90em;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
  padding: 0.2em;
  color:#505050;
}


.wy-side-nav-search > div.version {
  color: white;
}

.wy-side-nav-search, .wy-nav-top {
  background: #006060;
}

/* Sidebar */
.wy-nav-side {
  background: #008080;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: white;
}

.rst-content .code-block-caption {
    text-align: left;
}
/*.caption {
    background:     #f4f4f4;
}*/

/*table, td, th {
    white-space: pre-line;
}*/

/*pre, code {
  font-size: 1.2em;
  background-color: #e8e8e8;
  background: #e8e8e8;
  border: solid;
  border-color: lightgray;
  border-width: 0.2px;
  border-radius: 3px;
  color: #000000;
}

pre code {
  border: none;
  color: #000000;
}*/
