body {
  font-size: 1em;
  color: #252525;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: 0.1em solid #707070;
  font-size: 1.3em;
}

h2 {
  border-bottom: 0.07em solid #707070;
  font-size: 1.2em;
}

h3 {
  border-bottom: 0.05em solid #a0a0a0;
  font-size: 1.0em;
}

h4 {
  border-bottom: 0.05em solid #c0c0c0;
  font-size: 0.9em;
}

h5 {
border-bottom: 0.05em solid #e0e0e0;
font-size: 0.9em;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  font-size: 0.9em;
  color: black;
  background-color: #e8e8e8;
  border: solid;
  border-color: lightgray;
  border-width: 0.1px;
  border-radius: 3px;
}

content code {
  color: black;
  font-family: Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

.wy-nav-content {
  max-width: 1200px;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}

.highlight {
  background: #efefef;
}
footer p {
  color:#606060;
  font-size: 0.8rem;
}

p {
  margin-bottom: 0.7em;
}

p.caption {
  background-color: #f4f4f4;
  font-size: 0.90em;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
  padding: 0.2em;
  color:#505050;
}


.wy-side-nav-search > div.version {
  color: white;
}

.wy-side-nav-search, .wy-nav-top {
  background: #004c75;
}
/* Sidebar */
.wy-nav-side {
  background: #005787;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: white;
}


.rst-content .code-block-caption {
    text-align: left;
}

.rst-content div.figure .caption-text, .rst-content figure .caption-text {
  font-style: normal;
    color: #505050;
}
/*
a {
color: #5a4b96;
}

a:visited {
  color: #5a4b96;
}

a:hover {
  color: #3091d1;
}
*/

.wy-menu-vertical a:hover {
  background-color: #808080;
  cursor: pointer;
}

.wy-menu-vertical li.current a:hover {
  background-color: #a8a8a8;
}

.wy-menu-vertical li.current a:visited {
background-color: #a8a8a8;
}

figcaption {
  font-size: 90%;
  background:     #f0f0f0;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}

.caption-text {
font-size: 0.9em;
padding: 0.1em;
}

.error-style {
  font-weight: bold;
  color: white;
  background:     #ff0000;
}

.warning-style {
  font-weight: bold;
  color:     #ff2435;
}

.dim-style {
color:     darkgray;
}

.highlight-style {
  color:     blue;
}

.highlight-bold-style {
font-weight: bold;
color:     blue;
}


/*.caption {
background:     #f4f4f4;
}*/

/*table, td, th {
    white-space: pre-line;
}*/

/*pre, code {
  font-size: 1.2em;
  background-color: #e8e8e8;
  background: #e8e8e8;
  border: solid;
  border-color: lightgray;
  border-width: 0.2px;
  border-radius: 3px;
  color: #000000;
}

pre code {
  border: none;
  color: #000000;
}*/
